body{
    background: var(--primary);
    overflow-x: hidden;
    font-family: 'Rubik Regular';
}
a{
  color: black;
}
a:hover{
  color: var(--red);
  transition: ease-in-out .2s all;
}









/*================ scroll button =============*/
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    background: var(--bg2);
    box-shadow: 0 0 1px black;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}
#btnScrollToTop:active{
    background: #262721;
}
.btnNav{
  cursor: pointer;
}













/*================ text appear =============*/

.visible{
  animation: visible 2s;
}
@keyframes visible{
  0%{
    opacity: 0;
  }
    50%{
    opacity: 0.65;
  }
  100%{
    opacity: 1;
  }
}
/*.appearLeft{
    animation: appearLeft 3s;
}
.appearRight{
    animation: appearRight 3s;
}


@keyframes appearLeft{
  0%{
    width: 100%;
    opacity: 0;
    margin-right: 50%;
  }
  100%{
    width: 100%;
    margin-right: 0%;
    opacity: 1;
  }
}

@keyframes appearRight{
  0%{
    width: 100%;
    opacity: 0;
    margin-left: 50%;
  }
  100%{
    width: 100%;
    margin-left: 15%;
    opacity: 1;
  }
}


*/
















/*================ FORM =============*/

input, textarea{
    padding: 10px 16px;
    border-radius: 20px;
    border: 3px solid var(--bg2);
    color: #000000;
    text-align: center;
    font-size: 1.3em;
}
input:focus{
    border-color: var(--red);
}
input:focus::-webkit-input-placeholder {
    color: var(--red);
}
textarea:focus{
    border-color: var(--red);
}
textarea:focus::-webkit-input-placeholder {
    color: var(--red);
}
.button{
     background: none;
     border: 2px solid var(--bg2);
     color: var(--bg2);
     padding: 6px 12px;
     border-radius: 20px;
     text-transform: uppercase;
     box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
     display: inline-block;
}
.button:hover{
    color: #222;
    border-color: var(--red);
    color: var(--red);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
























/*================ NAVBAR =============*/
/*.navigation__list a{position: relative; z-index: 1;}
.navigation__list a::after{
  content: '';
  position: absolute;
  background: red;
  width: 50vw;
  height: 1.4em;
  z-index: -1;
  transition: all .5s ease-in-out;
  will-change: transform;
}
.navigation__list a:hover::after{
  transform: translateX(-100%);
  z-index: -1;
  overflow: hidden;
}
.navigation__list a:hover{
  color: rgba(0, 0, 0, .1);
}*/

/*.navigation__list a {
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    	to right,
	    red,
	    red 50%,
      white 50%);
      /*text-shadow: 1px 1px var(--bg);
	    background-size: 200% 100%;
      background-position: 100%;
}
.navigation__list a:hover{
  transition: all 0.4s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}
*/

























/*================ IMG =============*/

.img{
    -webkit-box-shadow: 0px 0px 117px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    opacity: 0.97;
}
.img:hover{
    opacity: 1;
    transition: all .2s ease-in-out;
    /*transform: rotate(5deg) scale(0.95);*/
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.img__border:hover{
  opacity: 1;
    transition: all .2s ease-in-out;
    transform: scale(1.01);
    /*transform: rotate(5deg) scale(0.95);*/
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.img__border{
  position: relative;
  overflow: hidden;
}
.img__border::after{
    content: '';
    position: absolute;
    bottom: -80%;
    left: -10px;
    width: 120%;
    height: 100%;
    transform: rotate(-15deg);
    background: #ffffff;
    transition: all .5s ease-in-out;
}























/*================ SCROLL =============*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #50020200; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg2);
  border-radius: 15px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262721;
}
















/*================ HAMBURGER =============*/

/*.hamburger__box{
  position: absolute;
  top: 10px;
  right: -10%;
}*/