.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

body{
    background: var(--bg);
}

/*==============   NAVIGATION   ======================*/
.site-nav{
    background: var(--bg2);
    padding: 10px;
    -webkit-box-shadow: 0px 7px 13px -7px rgba(107,0,27,1);
    -moz-box-shadow: 0px 7px 13px -7px rgba(107,0,27,1);
    box-shadow: 0px 7px 13px -7px rgba(107,0,27,1);
}
.site-nav .logo{
    grid-column: 1/3;
    padding: 10px;
    align-self: center;
    justify-self: center;
}
.site-nav .hamburger{
    grid-column: 6/13;
}
.site-nav img{
    width: 100px;
}
.navigation{
    padding-top: 5px;
    grid-column: 5/13;
}
.navigation a{
    color: var(--bg);
    text-shadow: 1px 1px black;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 1.2em;
}
.navigation li{
    padding-top: 5px;
}



/*==============   VIDEO   ======================*/
/*==============   NEWS   ======================*/
#news{
    background: url('../img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
}
#news h1, h4{
    padding-top: 35px;
    text-align: center;
    grid-column: span 13;
    font-size: 1.4em;
}
#news h4{
    font-size: 1.2em;
    padding-bottom: 20px;
}
#news img, .img__border{
    grid-column: span 12;
    width: 80vw;
    align-self: center;
    justify-self: center;
}
#news .article{
    padding-top: 20px;
    grid-column: span 12;
    align-self: center;
    justify-self: center;
    padding: 20px;
}


/*==============   COURSES   ======================*/
#courses{
    background: var(--bg2);
}


/*==============   PARTNERSHIP   ======================*/
/*==============   CONTACT   ======================*/
/*==============   FOOTER   ======================*/
.footer{
    margin-top: 30px;
    background: rgb(26, 26, 26);
    color: white;
    grid-column: span 12;
}
.copyright{
    grid-column: span 12;
    padding: 35px 0;
    text-align: center;
    align-self: end;
    justify-self: center;
}