.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

body{
    background: var(--bg);
}

/*==============   NAVIGATION   ======================*/
.site-nav{
    background: var(--bg2);
    padding: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.site-nav .logo{
    grid-column: 2/4;
    padding: 10px;
    align-self: center;
    justify-self: center;
}
.site-nav .hamburger{
    grid-column: 6/13;
}
.site-nav img{
    width: 100px;
}
.navigation{
    padding-top: 5px;
    grid-column: 6/13;
}
/*.navigation a{
    color: var(--bg);
    /*text-shadow: 1px 1px white;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 1.2em;
}*/
.navigation li{
    padding-top: 5px;
}
.navigation__list a{
  position: relative;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4;
  overflow: hidden;
  color: white;
  font-size: 1.2em;
  text-shadow: -1px -1px 0 var(--grey), 1px -1px 0 var(--grey), -1px 1px 0 var(--grey), 1px 1px 0 var(--grey);
}

.navigation__list .outer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: var(--red);
  transform: translateX(-100%);
}
.navigation__list .inner {
  display: inline-block;
  transform: translateX(100%);
}
.navigation__list a .outer,
.navigation__list a .inner {
  transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}

.navigation__list a:hover .outer,
.navigation__list a:hover .inner {
  transform: none;
}







/*==============   VIDEO   ======================*/
/*==============   NEWS   ======================*/
#news{
    background: url('../img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
}
#news h1, h4{
    padding-top: 35px;
    text-align: center;
    grid-column: span 13;
    font-size: 1.7em;
    font-weight: bolder;
}
#news h4{
    font-size: 1.2em;
    padding-bottom: 20px;
}
#news img, .img__border{
    grid-column: span 12;
    width: 80vw;
    align-self: center;
    justify-self: center;
}
#news .article{
    padding-top: 20px;
    grid-column: span 12;
    align-self: center;
    justify-self: center;
    padding: 20px;
}


/*==============   COURSES   ======================*/
#courses{
    background: var(--bg2);
    padding: 30px 20px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#courses h2{
    text-align: center;
    font-size: 1.7em;
    grid-column: span 13;
    font-weight: bolder;
}
#courses h4{
    text-align: center;
    font-size: 0.8em;
    padding: 8px;
}
#courses ul{
    margin: 40px 0;
}
#courses li{
    margin-bottom: 50px;
    padding: 8px;
    grid-column: span 6;
    text-align: center;
}
#courses img{
    width: 100%;
    margin: 10px auto;
}
#courses li:nth-child(7){
    grid-column: 4/10;
}
#courses .img{
    transition: all .5s ease-in-out;
}
#courses .img:hover{
    transform: scale(1.05);
}







/*==============   PARTNERSHIP   ======================*/
/*==============   CONTACT   ======================*/
#contact{
    padding: 30px 20px;
    background: var(--bg);
}
#contact h3, #contact p{
    text-align: center;
}
#contact h3{
    margin: 20px;
    padding-top: 10px;
    font-size: 1.5em;
}
#contact p{
    padding-top: 5px;
    font-size: 1.3em;
}
#contact form{
    padding-top: 30px;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contact input, #contact textarea{
    width: 100%;
    margin: 10px 0;
}
#contact .button{
    margin-top: 10px;
}




/*==============   FOOTER   ======================*/
.footer{
    margin-top: 30px;
    background: rgb(26, 26, 26);
    color: white;
    grid-column: span 12;
}
.copyright{
    grid-column: span 12;
    padding: 35px 0;
    text-align: center;
    align-self: end;
    justify-self: center;
}


#btnScrollToTop{
    display: none;
    transition: display 2s ease-in-out;
}



/*==============   MAIN   ======================*/
#main{
    background: var(--bg);
    padding: 30px;
}
#main .mainHeading{
    font-size: 1.5em;
    margin: 20px;
    padding-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}